/*-------------------------------------Main theme-----------------------------------------------*/
body {
    --background-color: #F3F3F3;
    --main-color: #946B6B;
    --darker-color: #351C1C;
    --sideBar-color: #C4B1B1;
    background-color: var(--background-color);
    max-width: 100%;
    margin: 0;
    height: 100%;

}

body>header {
    background-color: #C4B1B1;
    display: flex;
    align-items: center;
    max-width: 100%;
    padding: 1em 0;
}

header h1 {
    margin: 0;
    color:#351C1C
}

.profile {
    margin: 0;
    display: flex;
    align-items: center;
    max-width: fit-content;
}

.profile a {
    color: #351C1C;
    font-size: 25px;
    margin: 0 1em;
}

.dropbtn i {
    color: #F3F3F3;
    padding: 1em;
    font-size: 20px;
}

.dropdown {
    margin: 0 5px;
}

#logoutIcon {
    margin-left: 1em;
}

.searchBar {
    margin: 0 auto;
    align-content: center;
}

.searchBar input {
    height: 3em;
    width: 40em;
    border-color: var(--main-color);
}

/* The dropdown container */
.dropdown {
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn,
.profile>i:hover {
    background-color: var(--darker-color);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    max-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    font-size: 20px;
}

footer {
    width: 100%;
    background-color: var(--darker-color);
}

footer .links {
    margin: 2em 0;
    padding: 1em 2em;
    display:flex;
    gap:3em;
    align-items:center;
    margin: 0 auto;
}

footer .links>h4 {
    font-size: 2em;
    margin: 0;
}

footer .links a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

footer .links a {
    text-decoration: none;
    color: white;
    font-size: 2em;
   
}

/*-------------------------------------------------Restaurant--------------------------------------------------------*/

body>.RestaurantPageHeader {
    width: 100%;
}

.restaurantInfo {
    display: flex;
    align-items: center;
    border-bottom: #745A5A solid 6px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 0;
    margin-right: 40px;
    margin-left: 1em;
    font-size: 5em;
    font-weight: 300;
}

.restaurantInfo>h3 {
    align-self: flex-end;
    margin-bottom: 1;
    margin-right: 40px;
}

.restaurantInfo>h4 {
    align-self: flex-end;
    margin-bottom: 1;
    max-width: 30em;
}

#rating {
    visibility: hidden;
}

.checked{
    color: #ddd;
}

.full{
    color:#745A5A;
}

/*---------------Restaurant Page Content (Client)----------------------------------------*/

.restaurantTopPage {
    display: flex;
    margin: 2em auto;
    max-width: 75%;
}

.restaurantTopPage select {
    padding: 15px 30px;
    border: solid 3px var(--main-color);
    align-self: center;
    border-radius: 22px;
}

.restaurantTopPage a {
    padding: 15px 30px;
    border: solid 3px var(--main-color);
    border-radius: 22px;
    font-weight: 200;
    text-decoration: none;
    color: black;
}

.restaurantTopPage a.selected,
.orderStates:hover,
.addADish:hover,
.reviewsButton:hover,
.dishesButton:hover {
    background-color: var(--main-color);
    color: #F3F3F3;
}

.restaurantTopPage .buttons {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    margin: 0 auto 0 0;
}

.restaurantInfo p{
    visibility: hidden;
}

#mySidenav a {
    position: fixed;
    right: -80px;
    transition: 0.3s;
    padding: 20px 25px 20px 0;
    width: 100px;
    font-size: 20px;
    border-radius: 5px 0 0 5px;
    text-align: right;
    background-color: var(--main-color);
    color: whitesmoke;
}

#mySidenav a:hover {
    right: 0;
}

#cart {
    display: flex;
}

#cart p,
#cart i {
    margin: 0 auto;
}

#dishes {
    display: flex;
    gap: 1em;
    margin: 0 auto;
    max-width: 60%;
    flex-wrap: wrap;
    justify-self: center;
}

.dish,.newDish {
    display: flex;
    width: 32em;
    height: 16em;
    gap: 25px;
    background-color: white;
    padding: 1em;
    border: var(--main-color) solid 5px;
    border-radius: 22px;
}
.newDish{
    display: flex;
    width: auto;
    height: auto;
    gap: 25px;
    background-color: white;
    padding: 1em;
    border: var(--main-color) solid 5px;
    border-radius: 22px;
}
.newDish .information {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dish .information .name,.newDish .information .name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dish .information .price,.newDish .information .price {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*---------------------------------------------Reviews------------------------------------------------*/
#reviews {
    margin: 0 auto;
    max-width: 75%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.reviewBox {
    align-self: center;
    width: 75%;
    height: auto;
    gap: 25px;
    background-color: white;
    padding: 1em 1em 0 1em;
    border: var(--main-color) solid 5px;
    border-radius: 22px;
}

.review {
    display: flex;
    gap: 1em;
}

#reviewBody{
    flex: auto;
    background-color: whitesmoke;
    text-align: center;
}

#resposeBody{
    border: none;
    height: 3em;
    width: 100%;
    background-color: whitesmoke;
}

.responseBox {
    border-top: solid var(--main-color) 2px;
}

.responseBox form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    margin: 1em 0;
}

/*---------------------------------------------Past Orders Page------------------------------------------------*/

.PastOrdersHeader {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: var(--main-color) solid 6px;
}

.pastOrders .month {
    margin: 0 auto 3em auto;
    max-width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.pastOrderLabels {
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
 }

.pastOrderBox {
    width: 100%;
    height: auto;
    gap: 25px;
    background-color: white;
    padding: 2em 4em;
    border: var(--main-color) solid 5px;
    border-radius: 90px;
}

.pastOrder {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;

}


.pastDish {
    display: flex;
    gap: 1em;
    border-bottom: var(--main-color) solid 1px;
    align-items: baseline;
}

.pastDish #dishName {
    align-self: center;
    font-size: 20px;
    margin: 0 auto;
}

.pastOrder #name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
}

.pastOrder #total {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 0;
    font-size: 20px;
}

.pastOrder i {
    align-self: center;
}

.pastOrder #quantity {
    padding: 5px 8px;
    border: var(--main-color) solid 2px;
    border-radius: 5px;
}

.pastOrder #review,
.pastOrder .OrderState {
    margin: 0;
    padding: 1em;
    font-weight: 600;
    background-color: var(--main-color);
    color: whitesmoke;
    border: none;
    font-size: 15px;
}
.pastOrder #review{
    margin: 0 0 auto 0;
}

.pastOrder img {
    max-width: 250px;
    max-height: 200px;
}

.review-popup {
    margin-top: 2em;
    border-top: var(--main-color) solid 2px;
    padding-top: 1em;
}

.review-popup form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.month>h3 {
    font-size: 3em;
    width: 50%;
    text-align: center;
    color: var(--darker-color);
    border-bottom: var(--main-color) solid 2px;
}

/*----------------------------------------Main Page-----------------------------------*/

.mainPageHeader {
    display: flex;
    width: 100%;
    padding: 2em 0;
    background-color: var(--main-color);
    gap: 30px;
    align-items: flex-start;
}

a {
    text-decoration: none;
}

#signIn {
    margin-left: auto;
}

#signUp {
    padding-right: 6em;
}

#signIn,
#signUp {
    font-size: 20px;
    color: whitesmoke;
    font-weight: 500;
}

#brandMain {
    font-size: 30px;
    color: whitesmoke;
    font-weight: 500;
    padding-left: 3em;
}

.mainPage {
    background-image: url("images/main.jpg");
    background-color: whitesmoke;
    height: 500px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;

}

.mainPageText {
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/*----------------------------------------Sign In Page-----------------------------------*/


#loginPage {
    object-fit: contain;
    background-image: url("images/login.jpg");

}

signUp,
SignIn {

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.5em;
}

signUp form,
SignIn form {
    background-color: #351C1C;
}

SignIn input {
    width: 20em;
    height: 2em;
    margin: 1em;
}

SignIn button {
    width: 5em;
}

SignIn a {
    text-align: right;
    font-size: 20px;
    color: whitesmoke;
    font-weight: 500;
}

/*----------------------------------------Sign Up Page-----------------------------------*/

signUp label {
    color: whitesmoke;
    font-size: 25px;
    margin-right: 1em;
}

signUp div {
    display: flex;
}

signUp #field {
    width: 20em;
    height: 2em;
    margin: 1em;
}

signUp #ImRestaurant {
    height: 2em;
    width: 2em;
}

signUp button {
    margin: 1em;
    padding: 0.5em;
    font-size: 20px;
}

/*---------------------------pop-ups review---------------*/

.form-container .btn,
.open-button {



    cursor: pointer;

  
    opacity: 0.8;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    height: auto;
    border: none;
    padding: 10px 0 10px 0;
    background: whitesmoke;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.open-button {
    margin: 1em auto;
}

/**********************************Sidebar*************************************************************/
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 75%;
    overflow-y: scroll;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 24%;
    right: 0;
    background-color: var(--main-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;

}

.sidebar a:hover {
    color: var(--darker-color);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    color: whitesmoke;
}

.sidebar>p {
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
}

.cartDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1em;
    margin: 0 1em;
    border: #C4B1B1 solid 5px;
    border-radius: 22px;
}

.cartDiv p {
    font-size: 20px;
    margin: 0 auto;
}

.quantity {
    display: flex;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/******************************************************Main Restaurants Page *********************************************/

.mainRestaurantsHeader {
    background-image: url(images/mainDarker.jpg);
    padding: 6em 7em 1em 7em;
}

.mainRestaurantsHeader h3 {
    margin: 0;
    color: whitesmoke;
    font-weight: 200;
    font-size: 3em;
    width: 25%;
}

.restaurants {
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.restaurantCard {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    border: solid 3px var(--darker-color);
    width: 50%;
}

.restaurantCard img {
    width: 15em;
}

.mainRestaurantsName {
    display: flex;
    align-items: baseline;
    gap: 1em;
}

.mainRestaurantsName a {
    margin: 0;
    font-size: 2em;
    color: var(--darker-color);
}

.mainRestaurantsRating {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

/******************************************************Favorited Page *********************************************/
.favoritedTopPage {
    display: flex;
    margin: 2em 20em 2em 16em;
}

.favoritedTopPage select {
    padding: 15px 30px;
    border: solid 3px var(--main-color);
    align-self: center;
    border-radius: 22px;
}


.favoritedTopPage>a {
    padding: 15px 30px;
    border: solid 3px var(--main-color);
    border-radius: 22px;
    font-weight: 200;
    text-decoration: none;
    color: black;
}

.favoritedTopPage>a.selected {
    background-color: var(--main-color);
    color: #F3F3F3;
}


.favoritedTopPage>a:nth-child(1) {
    margin-right: 2em;
}

.favoritedTopPage>a:nth-child(2) {
    margin: 0 auto 0 0;
}

/***********************************Profile************************************************/

.profileHeader {
    width: 100%;
    border-bottom: 4px var(--main-color) solid;
    display: flex;
    align-items: baseline;
}

.customerInformation {
    display: flex;
    flex-wrap: wrap;
    gap: 8em;
    margin: 4em auto 4em 6em;
}

.customerInformation>form ,.addRestaurant form{
    display: flex;
    flex-direction: column;
    border: solid var(--main-color) 2px;
    padding: 1em;
    align-items: baseline;
    gap: 1em;

}

.customerInformation div{
    display: flex;
    gap: 1em;
}

.customerInformation p {
    margin: 0;
}

.customerInformation img {
    height: 20em;
    width: 20em;
}

.ownedRestaurants {
    margin: 0 6em;
}

.ownedRestaurant {
    display: flex;
    gap: 1em;
    align-items: flex-start;
    padding: 1em;
    border-bottom: solid 2px var(--main-color);
}

.ownedRestaurant p,
.ownedRestaurant a,
.ownedRestaurants label,
.ownedRestaurants h3,
.customerInformation input,
.customerInformation label,
.customerInformation p,
.profileHeader i {
    font-size: 20px;
}

.ownedRestaurant a:hover {
    color: whitesmoke;
    background-color: var(--main-color);
}
.ownedRestaurant a,
.customerInformation label {
    color: var(--darker-color);
    font-weight: 600;
}

.ownedRestaurants button{
    margin: 1em;
    padding: 10px;
}

/***********************************************Orders (OWNER)**********************************************************/

#orders{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    margin: 2em;
    
}
.order{
    display: flex;
    width: auto ;
    height: auto;
    gap: 25px;
    background-color: white;
    padding: 1em;
    border: var(--main-color) solid 5px;
    border-radius: 22px;
}
.order form {
    align-self: center;
}

